h1{
	color: blue;
	text-decoration: underline;
	font: Times;
	font-size: 1em;
	/* border: solid black 2px; */
}
body{
	color: black;
	font: Times;		
	font-size: 38px;
	line-height: 110%;
}

button{
	font-size: 20px;
    border: 1px solid #000;
    padding: 0;
    margin: 0px;	
	height: 90px;
	width: 80px;
}

#paragraph{
	font-weight: bold;
}

#title{
	color: red;
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

#js{
	color: red;
}


