/* General styling */
body {
	color: #333333;
	background-color: #dddddd;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
}

h1{
	color: #a7d0ff;
	background: #113;
	font: Times;
	font-size: 90px;
	margin: 0px;
	text-indent: 20px;
}

input{
   	background: white;
   	border: 1px solid #000;
   	padding: 0;
	text-indent: 25px;

    height: 22px;
    width: 200px;
}

/* Specific styling */
#rec{
	width: 40em;
	height: 3em;
}
