body {
	background-color: #dddddd;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	text-align: center;
}

button {
	background: white;
    border: 1px solid #000;
    font-size: 20px;
    height: 90px;
    margin: 0px;
    padding: 0;
<<<<<<< HEAD:HTML-5/Apps/CS_WebAccount/HTML_WebApps/Plinko_Probability/plinko.css
    width: 80px;
=======
	width: 80px;
>>>>>>> b41c603f1d78667302de0fdb745599dcf7c9c4a8:HTML-5/Apps/Plinko_Probability/plinko.css
}

h1 {
	background: #113;
	color: #a7d0ff;
	font: Times;
	font-size: 70px;
	margin: 0px;
	size: 20px;
	text-align: center;
}

input {
	background: white;
    border: 1px solid #000;
	height: 22px;
	margin: 0px;
    padding: 0;
  	text-indent: 25px;
	width: 200px;
}

#js{
	color: red;
}

#paragraph{
	font-weight: bold;
}

#sub{
	height: 3em;
	width: 40em;
}

#title{
	color: red;
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}
<<<<<<< HEAD:HTML-5/Apps/CS_WebAccount/HTML_WebApps/Plinko_Probability/plinko.css

#js{
	color: red;
}

#sub{
	height: 3em;
	width: 40em;
}
=======
>>>>>>> b41c603f1d78667302de0fdb745599dcf7c9c4a8:HTML-5/Apps/Plinko_Probability/plinko.css
