h1{
	color: blue;
	text-decoration: underline;
	font: Times;
	font-size: 1em;
	/* border: solid black 2px; */
}
body{
	color: black;
	font: times;		
	font-size: 3em;
}

#js{
	color: red;
}

/* Margins for the buttons */
#table{
	margin: 0em 2.5em 0em 0em;
}

#temp{
	margin: 0em 2.3em 0em 0em;
}

#PH{
	margin: 0em 6.15em 0em 0em;
}

#oxygen{
	margin: 0em -.1em 0em 0em;
}

#phosp{
	margin: 0em 2.8em 0em 0em;
}

/* BUTTONS */
#table2{
	width: 5em;
	height: 3em;
}

#tp{
	width: 5em;
	height: 3em;
}

#ph{
	width: 5em;
	height: 3em;
}

#o2{
	width: 5em;
	height: 3em;
}

#phos{
	width: 5em;
	height: 3em;
}

#sub{
	width: 40em;
	height: 3em;
}
