h1{
	color: blue;
	size: 20px;
	text-align: center;
}

p{
	color: black;
	font-weight: bold;
	text-align: center;
}

#large{
	width: 200%;
	height: auto;
}

#zoom{
	width: auto;
	height: auto;
};

#center{
	color: black;
	font-weight: bold;
	text-align: center;
};
