body {
	margin: 0;
	padding: 0;
	background: #CCC;
	font-family: sans-serif;
	font-size: 13pt;
}

* {
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.hidden {
	display: none !important;
}

#main {
	width: 800px;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0 0 20px 0 #666;
}

#header {
	background-color: #02D;
}

#header-inner {
	padding: 10px;
	font-size: 20pt;
	color: #FFF;
}

#content {
	background-color: #FFF;
}

#content-inner {
	padding: 10px;
}

.val-button {
	width: 100%;
	height: 70px;
	margin-bottom: 15px;
	display: table;
}

.val-spacer {
	width: 30px;
	display: table-cell;
	vertical-align: middle;
}

.val-label {
	width: 150px;
	display: table-cell;
	vertical-align: middle;
	color: #444;
}

.val-value {
	width: 350px;
	display: table-cell;
	vertical-align: middle;
	font-style: italic;
	color: #444;
}

#footer-inner {
	padding: 10px;
}

.ftr-button-left, .ftr-button-right {
	width: 383px;
	padding-top: 20px;
	height: 38px;
	display: inline-block;
	text-align: center;
}

.ftr-button-left {
	margin-right: 10px;
}



/*
 *  Popup styling
 */



#popup-bkg {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
}

.popup {
	border-radius: 20px;
	margin: 50px auto 0;
	background-color: #FFF;
	width: 700px;
	box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.5);
}

.popup-title, .popup-body, .popup-input, .popup-value, .popup-lower {
	padding: 20px;
}

.popup-title {
	font-size: 20pt;
	text-align: center;
	border-bottom: 1px solid #BBB;
}

.popup-body {
	height: 200px;
}

.pbody-button {
	width: 209px;
	padding-top: 25px;
	height: 43px;
	text-align: center;
	display: inline-block;
}

.pbody-button:nth-child(2) {
	margin: 0 13px;
}

.popup-button {
	width: 323px;
	padding-top: 20px;
	margin-top: 10px;
	height: 38px;
	display: inline-block;
	text-align: center;
}

.popup-button:nth-child(4) {
	margin-right: 10px;
}

.popup-input {
	margin-top: 30px;
}

.popup-value {
	margin: 0 auto;
	font-size: 16pt;
	text-align: center;
}

.popup-value-text {
	display: inline-block;
	padding: 10px 30px 0;
	height: 30px;
	width: 200px;
	vertical-align: top;
}

.slide-button {
	width: 38px;
	padding-top: 3px;
	height: 35px;
	font-size: 30px;
	border-radius: 20px !important;
	display: inline-block;
}

.popup-button-left, .popup-button-right, .popup-button-center {
	width: 323px;
	padding-top: 20px;
	height: 38px;
	display: inline-block;
	text-align: center;
}

.popup-button-left {
	margin-right: 10px;
}

.popup-button-center {
	margin: 0 auto;
	display: block !important;
}

.popup-centered-text {
	padding: 100px 0;
	text-align: center;
}



/*
 *  Button styling
 */



.button-blue, .button-white, .button-inactive {
	border-radius: 10px;
	cursor: pointer;
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
}

.button-blue {
	background-color: #66F;
	border: 1px solid #22B;
	/*box-shadow: 0px -1px 2px 1px #22B inset;*/
	color: #FFF;
}

.button-blue:active {
	background-color: #44F;
	/*box-shadow: 0px 1px 2px 1px #22B inset;*/
	border: 1px solid #22B;
}

.button-white {
	background-color: #FFF;
	/*box-shadow: 0px -1px 2px 1px #BBB inset;*/
	border: 1px solid #BBB;
	color: #444;
}

.button-white:active {
	background-color: #DDD;
	/*box-shadow: 0px 1px 2px 1px #BBB inset;*/
	border: 1px solid #BBB;
}

.button-inactive {
	background-color: #DDD;
	/*box-shadow: 0px -1px 2px 1px #BBB inset;*/
	border: 1px solid #BBB;
	color: #BBB;
}



/*
 *  Slider styling
 */

input[type=range] {
	-webkit-appearance: none !important;
	display: block;
	border: 1px solid #BBB;
	border-radius: 10px;
	height: 30px;
	width: 100%;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance:none !important;
	border: 1px solid #BBB;
	border-radius: 10px;
	background: linear-gradient(to bottom, #FFF , #EEE);
	width: 45px;
	height: 60px;
	background-color: #00F;
}
/*
#temp-popup input[type=range] {
	background: linear-gradient(to right, #BBF, #FBB);
}

#ph-popup input[type=range] {
	background: linear-gradient(to right, #FB5, #BFB, #BBF);
}

#phos-popup input[type=range] {
	background: linear-gradient(to right, #DDD, #FFF);
}

#oxy-popup input[type=range] {
	background: linear-gradient(to right, #FFF, #DDF);
}*/