/* General styling */
body {
  color: #333333;
  background-color: #dddddd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
}

h1{
	color: #a7d0ff;
	background: #113;
	font: Times;
	font-size: 70px;
	margin: 0px;
	text-indent: 20px;
}

input{
   	background: white;
   	border: 1px solid #000;
   	padding: 0;
	text-indent: 25px;
	font-size: 20px;

    height: 22px;
    width: 200px;
}

/* Specific styling */
#js{
	color: red;
}

/* BUTTONS */
#datset_name{
	width: 5em;
	height: 3em;
}

#tp{
	width: 5em;
	height: 3em;
}

#ph{
	width: 5em;
	height: 3em;
}

#o2{
	width: 5em;
	height: 3em;
}

#phos{
	width: 5em;
	height: 3em;
}

#sub{
	width: 40em;
	height: 3em;
}
