/* General styling */
body {
	background-color: #dddddd;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
}

h1{
	background: #113;
	color: #a7d0ff;
<<<<<<< HEAD:HTML-5/Apps/CS_WebAccount/HTML_WebApps/BoatHouse_App/boathouse.css
	font: Times;
=======
>>>>>>> b41c603f1d78667302de0fdb745599dcf7c9c4a8:HTML-5/Apps/BoatHouse_App/boathouse.css
	font-size: 1em;
	font: Times;
	margin: 0px;
	text-indent: 20px;
}

input{
   	background: white;
   	border: 1px solid #000;
<<<<<<< HEAD:HTML-5/Apps/CS_WebAccount/HTML_WebApps/BoatHouse_App/boathouse.css
    height: 22px;
=======
	height: 22px;
>>>>>>> b41c603f1d78667302de0fdb745599dcf7c9c4a8:HTML-5/Apps/BoatHouse_App/boathouse.css
   	padding: 0;
	text-indent: 25px;
    width: 200px;
}

select{
    background: white;
	border: 1px solid #000;
<<<<<<< HEAD:HTML-5/Apps/CS_WebAccount/HTML_WebApps/BoatHouse_App/boathouse.css
    height: 42px;
=======
	height: 42px;
>>>>>>> b41c603f1d78667302de0fdb745599dcf7c9c4a8:HTML-5/Apps/BoatHouse_App/boathouse.css
    padding: 0;
}

/* Specific styling */
#js{
	color: red;
}

/* Margins for the buttons */
#oxygen{
	margin: 0em -.1em 0em 0em;
}

#PH{
	margin: 0em 6.15em 0em 0em;
}

#phosp{
	margin: 0em 2.8em 0em 0em;
}

<<<<<<< HEAD:HTML-5/Apps/CS_WebAccount/HTML_WebApps/BoatHouse_App/boathouse.css
/* BUTTONS */
#table2{
	height: 3em;
	width: 5em;
}

#tp{
	height: 3em;
	width: 5em;
}

#ph{
	height: 3em;
	width: 5em;
=======

#table{
	margin: 0em 2.5em 0em 0em;
}

#temp{
	margin: 0em 2.3em 0em 0em;
>>>>>>> b41c603f1d78667302de0fdb745599dcf7c9c4a8:HTML-5/Apps/BoatHouse_App/boathouse.css
}

/* BUTTONS */
#o2{
<<<<<<< HEAD:HTML-5/Apps/CS_WebAccount/HTML_WebApps/BoatHouse_App/boathouse.css
=======
	height: 3em;
	width: 5em;
}

#ph{
>>>>>>> b41c603f1d78667302de0fdb745599dcf7c9c4a8:HTML-5/Apps/BoatHouse_App/boathouse.css
	height: 3em;
	width: 5em;
}

#phos{
	height: 3em;
	width: 5em;
}

#sub{
<<<<<<< HEAD:HTML-5/Apps/CS_WebAccount/HTML_WebApps/BoatHouse_App/boathouse.css
	height: 3em;
	width: 40em;
=======
	height: 3em;
	width: 40em;
}

#table2{
	height: 3em;
	width: 5em;
}

#tp{
	height: 3em;
	width: 5em;
>>>>>>> b41c603f1d78667302de0fdb745599dcf7c9c4a8:HTML-5/Apps/BoatHouse_App/boathouse.css
}
