body {
	background-color: #dddddd;
	color: #333333; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	
	text-align: center;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding-left: 0;
    padding-right: 0;
}

h1 {
	background: #113;
	color: #a7d0ff;
	font: Times;
	font-size: 85px;
	margin: 0px;
	size: 20px;
	text-align: center;
}

input {
	background: white;
    border: 1px solid #000;
	margin: 0px;
    padding: 0;
  	text-indent: 25px;
  	
  	
    height: 22px;
	width: 200px;
}

#buttonz {
    font-size: 15px;    
    margin: 0px;	
    padding: 0;
        
	height: 70px;
	width: 150px;
}

#rSENSE {
    font-size: 25px;    
    margin: 0px;	
    padding: 0;
        
	height: 90px;
	width: 500px;
}

#The_URL {
	font: bold 25px Helvetica Neue;
}

#justify {
	text-align: justify;
}

#left {
	text-align: left;
}

#tab {
	margin-left: 5em;
}

#center {
	color: black;
	font-weight: bold;
	text-align: center;
}

#paragraph { 
	font-weight: bold;
}

#title {
	color: red;
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}

#js {
	color: red;
}

#sub {
	width: 40em;
	height: 3em;
}

