h1{
	color: blue;
	text-decoration: underline;
	font: Times;
	font-size: 1em;
	/* border: solid black 2px; */
}
body{
	color: black;
	font: times;		
	font-size: 3em;
}
p{
	color: black;
	font: times;
	font-size: .5em;
}
#rec{
	width: 40em;
	height: 3em;
}
