/* General styling */
body {
	background-color: #dddddd;
	color: #333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
}

h1{
	background: #113;
	color: #a7d0ff;
	font: Times;
	font-size: 1em;
	margin: 0px;
	text-indent: 20px;
}

input{
   	background: white;
   	border: 1px solid #000;
    height: 22px;
   	padding: 0;
	text-indent: 25px;
    width: 200px;
}

select{
    background: white;
	border: 1px solid #000;
    height: 42px;
    padding: 0;
}

/* Specific styling */
#js{
	color: red;
}

/* Margins for the buttons */

#table{
	margin: 0em 2.5em 0em 0em;
}

#temp{
	margin: 0em 2.3em 0em 0em;
}

#PH{
	margin: 0em 6.15em 0em 0em;
}

#oxygen{
	margin: 0em -.1em 0em 0em;
}

#phosp{
	margin: 0em 2.8em 0em 0em;
}

/* BUTTONS */
#table2{
	height: 3em;
	width: 5em;
}

#tp{
	height: 3em;
	width: 5em;
}

#ph{
	height: 3em;
	width: 5em;
}

#o2{
	height: 3em;
	width: 5em;
}

#phos{
	height: 3em;
	width: 5em;
}

#sub{
	height: 3em;
	width: 40em;
}
